.content-photos {
    background: var(--primary);
    transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

.photos-card {
    display: grid;
    width: 75%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
}

.photo img {
    width: 100%;
    border-radius: 10px;
}

.svg-b {
    transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
}

@media only screen and (max-width: 768px) {
    .photos-card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .photo:nth-of-type(n+7) {
        display: none;
    }
}