.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-dark-bar);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: -4px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    box-shadow: 0 0px 15px var(--shadow);
    background: var(--white) url('https://img.icons8.com/material-two-tone/452/do-not-disturb-2.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
  
input:checked + .slider {
    background-color: var(--toggle-light-bar);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--toggle-light-bar);
}
  
input:checked + .slider:before {
    transform: translateX(29px);
    -ms-transform: translateX(29px);
    -webkit-transform: translateX(29px);
    background: var(--white) url('https://img.icons8.com/material-two-tone/452/sun--v1.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}