.content-photos {
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  background: var(--primary);
  transform: translateY(-10px);
}
.photos-card {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  row-gap: 15px;
  width: 75%;
}
.photo img {
  border-radius: 10px;
  width: 100%;
}
.svg-b {
  -ms-transform: translateY(-12px);
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}
@media only screen and (max-width: 768px) {
  .photos-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .photo:nth-of-type(n + 7) {
    display: none;
  }
}
