header {
  background: var(--primary);
  padding: 50px 4rem 0;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  header {
    padding: 40px 3.5rem 0;
  }
}
@media only screen and (max-width: 480px) {
  header {
    padding: 30px 2.5rem 0;
  }
}