footer {
  margin: 15px 0;
  text-align: center;
}
footer > p {
  color: var(--font-auxiliar);
  font-size: 14px;
  font-weight: 600;
}
footer > p > a,
footer > p > a:-webkit-any-link {
  color: var(--font-primary);
  font-weight: 700;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  footer > p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 480px) {
  footer {
    margin: 25px 1.25rem 15px;
  }
  footer > p {
    font-size: 12px;
  }
}