.result-meaning h3 {
  font-size: 20px;
  font-style: italic;
  padding: 0 0 5px;
}
.row-def {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 30px 1fr;
  margin: 0 0 0 20px;
  padding: 5px 0;
}
.row-def > p:nth-child(1) {
  color: var(--font-auxiliar);
  font-size: 13.5px;
  margin-top: 3px;
  text-align: center;
}
.def-content > p:nth-child(2) {
  color: var(--font-auxiliar);
  font-size: 14px;
  padding-top: 5px;
}
@media only screen and (max-width: 768px) {
  .result-meaning h3 {
    font-size: 19px;
  }
  .row-def > p:nth-child(1) {
    font-size: 12.5px;
  }
  .def-content > p:nth-child(1) {
    font-size: 14px;
  }
  .def-content > p:nth-child(2) {
    font-size: 13px;
  }
}