.result-meaning h3 {
    padding: 0 0 5px;
    font-size: 20px;
    font-style: italic;
}

.row-def {
    display: grid;
    margin: 0 0 0 20px;
    padding: 5px 0;
    grid-template-columns: 30px 1fr;
    column-gap: 10px;
}

.row-def > p:nth-child(1) {
    margin-top: 3px;
    font-size: 13.5px;
    color: var(--font-auxiliar);
    text-align: center;
}

.def-content > p:nth-child(2) {
    padding-top: 5px;
    font-size: 14px;
    color: var(--font-auxiliar);
}

@media only screen and (max-width: 768px) {
    .result-meaning h3 {
        font-size: 19px;
    }

    .row-def > p:nth-child(1) {
        font-size: 12.5px;
    }
    
    .def-content > p:nth-child(1) {
        font-size: 14px;
    }

    .def-content > p:nth-child(2) {
        font-size: 13px;
    }
}